.bgSlider img{
    width: 1266.42px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -10;
    transition: all ease .5s;
}

.bgAboutUs img{
    position: absolute;
    width: 948.15px;
    right: 0px;
    top: 1448px;
    z-index: -10;
    transition: all ease .5s;
}
.bgContactUs img{
    position: absolute;
    width: 1175.73px;
    left: 0;
    top: 3142px;
    z-index: -10;
    transition: all ease .5s;
}

.bgFooter {
    width: 100%;
    position: relative;
    transition: all ease .5s;
}
.bgFooter0 {
    position: absolute;
    width: 100%;
    height: 300.53px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: var(--clr-blue);
    z-index: -2;
    transition: all ease .5s;
}
.bgFooter1 {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: -1;
    bottom:0;
    transition: all ease .5s;
}

.bgFooter2 {
    position: absolute;
    width: 100%;
    bottom:0;
    z-index: -2;
    transition: all ease .5s;
}
/*Responsive background*/

@media (max-width: 1295px) {
    .bgSlider img{
        width: 1000px;
    }

    .bgAboutUs img{
        top: 1200px;
    }
    .bgContactUs img{
        width: 900px;
    }
    
}

@media (max-width: 1000px) {
    .bgSlider img{
        width: 800px;
    }

    .bgAboutUs img{
        top: 800px;
    }
    .bgContactUs img{
        width: 600px;
    }
}

@media (max-width: 850px) {
    .bgFooter {
        width: 100%;

    }
    .bgFooter0 {
        position: absolute;
        width: 100%;
        height: 300px;
        width: 100%;
        bottom: 0;
    }
    .bgFooter1 {
        width: 100%;
        height: 600px;
        bottom:0;
    }
    
    .bgFooter2 {
        width: 100%;
        height: 600px;
        bottom:0;
    }

    .bgSlider img{
        display: none;
    }

    .bgAboutUs img{
        width: 250px;
        top:0;
    }
    .bgContactUs img{
        width: 150px;
        top:0;
    }
}

@media (max-width: 800px) {
    .bgFooter {
        width: 100%;

    }
    .bgFooter0 {
        position: absolute;
        width: 100%;
        height: 600px;
        width: 100%;
        bottom: 0;
    }
    .bgFooter1 {
        display: none;
    }
    
    .bgFooter2 {
        display: none;
    }

    .bgSlider img{
        display: none;
    }

    .bgAboutUs img{
        width: 250px;
        top:0;
    }
    .bgContactUs img{
        width: 150px;
        top:0;
    }
}